__pycache__/
venv/
.env
.DS_Store
.vscode/
.idea/
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
*.override.tf
.terraform.lock.hcl
*.tfvars
*.auto.tfvars
*.pem
*.key
terraform/hosts.ini
terraform/id_rsa